.logo-container{
    -webkit-box-flex:0;
    flex:0 1 186px;
}

.left-position-logo{
    left: 19px;
}
.logo{
    width: 168px;
    height: 160px;
    background-color: #fff;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    top: -31px;
    position: relative;
    margin-bottom: -32px;
    margin-left: -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px
}
.name-and-info{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 20px;
    /*width: 50%;*/
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.title{
    font-weight: bold;
    line-height: 35px;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.save-change{
    text-align: right;
    padding: 30px 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 220px;
    flex: 0 0 220px;
    font-size: 18px;
}

.update_and_save{
    display:flex;
}

.update_and_save #h2_2{
    width: 56%;
    text-align:right;
}
.update_and_save #h2_1{
    width: 44%;
}

.company-page-above{
    height: 100%;display: flex;
    padding-top: 30px;
    padding-bottom:20px;
    background-color: transparent; z-index: 3;
    border: 1px solid #ded7d7
}