.box{
    margin-left: 30px;
    padding: 20px;
    width: 85%;
    height: auto;
    background-color: #e4e4e4;
}

.company-info{
    width: 100%;
    height: 100%;
    text-align: center;
}


.paragraph{
    font-size: 18px;
    padding-left: 25px;
}

.front{
    height: 50px;
}